<div class="container">
  <div class="profile">
    <div class="signup-form">
        <div class="ui centered grid">
            <div class="sixteen wide column">
                <div class="ui placeholder segment">
                    <div class="ui center aligned two column very relaxed stackable grid">
                      <div class="column">
                        <form action="/process/login" method="POST">
                        <div class="ui form">
                          <div class="field" id="username-field">
                            <label>Email</label>
                            <div class="ui left icon input">
                              <input type="email" name='email' placeholder="Email" required>
                              <i class="user icon"></i>
                            </div>
                          </div>
                          <div class="field" id="password-field">
                            <label>Password</label>
                            <div class="ui left icon input">
                              <input type="password" name="password" required>
                              <i class="lock icon"></i>
                            </div>
                          </div>
                        </form>
                          <div class="ui blue submit button">
                            <button class="ui blue button" type="submit">Login</button>
                          </div>
                        </div>
                      </div>
                      <div class="middle aligned column">
                        <div class="ui big button" onclick="location.href='/signup'" style="cursor:pointer;">
                          <i class="signup icon"></i>
                          Sign Up
                        </div>
                      </div>
                    </div>
                    <div class="ui vertical divider">
                      Or
                    </div>
                  </div>
                </div>
        </div>
    </div>
  </div>