<!--JS Scripts-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/javascripts/semantic.min.js"></script>
<!--JQuery For SemanticUI-->
<script>
  $('.ui.dropdown')
  .dropdown();
  
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;

  $('.ui.form')
  .form({
    fields: {
      email : {
        identifier : 'email',
        rules : [
          {
            type   : 'empty',
            prompt : 'Please enter your email'
          }
        ]
      },
      name: {
        identifier: 'name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter your name'
          }
        ]
      },
      username: {
        identifier: 'username',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a username'
          }
        ]
      },
      password: {
        identifier: 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          },
          {
            type   : 'minLength[6]',
            prompt : 'Your password must be at least {ruleValue} characters'
          }
        ]
      },
    }
  })
;
$(document).ready(function(){
  $('#upload-btn').click(function(){
     $('#upload-modal').modal('show');    
  });
  });

$(document).ready(function(){
  $('#update-page').click(function(){
     $('#update-modal').modal('show');    
  });
  });

$(document).ready(function(){
  $('#EditProfile-btn').click(function(){
     $('#EditProfile-modal').modal('show');    
  });
  });
function readURL1(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function (e) {
              $('#img-preview').attr('src', e.target.result);
          }
          
          reader.readAsDataURL(input.files[0]);
      }
  }
  function readURL2(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#Userimg-preview').attr('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imgInp").change(function(){
      readURL1(this);
  });
  $("#Userimg").change(function(){
    readURL2(this);
});

  $('.ui.fluid.multiple.search.selection.dropdown').dropdown('setting', {
    allowAdditions: true,
    message: {addResult:'Here your customized message: <b>{term}</b>'},
    action: 'combo'
  });

  $(function() { 
    $("input:text").keydown(function(evt) { 
      if (evt.keyCode == 13) return false; 
    }); 
  });

  $('#tag-clear-btn').on('click', function() {
    $('.ui.fluid.multiple.search.selection.dropdown')
      .dropdown('clear')
    ;
  })
;

if (document.getElementById('imgInp')) {
  document.getElementById('imgInp').addEventListener('change', function (e) {
    var formData = new FormData();
    console.log(this, this.files);
    formData.append('img', this.files[0]);
    console.log(formData.get('img'));
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      if (xhr.status === 200) {
        var url = JSON.parse(xhr.responseText).url;
        document.getElementById('img-url').value = url;
        document.getElementById('img-preview').src = url;
        document.getElementById('img-preview').style.display = 'inline';
      } else {
        console.error(xhr.responseText);
      }
    };
    xhr.open('POST', '/pages/img');
    xhr.send(formData);
  });
}

if (document.getElementById('Userimg')) {
  document.getElementById('Userimg').addEventListener('change', function (e) {
    var formData = new FormData();
    console.log(this, this.files);
    formData.append('img', this.files[0]);
    console.log(formData.get('img'));
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      if (xhr.status === 200) {
        console.log(xhr.responseText);
        var url = JSON.parse(xhr.responseText).url;
        document.getElementById('Userimg-url').value = url;
        document.getElementById('Userimg-preview').src = url;
        document.getElementById('Userimg-preview').style.display = 'inline';
      } else {
        console.error(xhr.responseText);
      }
    };
    xhr.open('POST', '/users/profileImg');
    xhr.send(formData);
  });
}

if (document.getElementById('updateImgInp')) {
  document.getElementById('updateImgInp').addEventListener('change', function (e) {
    var formData = new FormData();
    console.log(this, this.files);
    formData.append('img', this.files[0]);
    console.log(formData.get('img'));
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      if (xhr.status === 200) {
        console.log(xhr.responseText);
        var url = JSON.parse(xhr.responseText).url;
        document.getElementById('updateImg-url').value = url;
        document.getElementById('updateImg-preview').src = url;
        document.getElementById('updateImg-preview').style.display = 'inline';
      } else {
        console.error(xhr.responseText);
      }
    };
    xhr.open('POST', `/pages/img/update`);
    xhr.send(formData);
  });
}
var el = document.getElementById('userFollow');
if(el){
  el.addEventListener('click', function (e) {
    console.log(document.querySelector('#myId').value);
    console.log(document.querySelector('#page-user-id').value);
    var isLoggedIn = document.querySelector('#myId');
      if (isLoggedIn) {
        var userId = document.querySelector('#page-user-id').value;
        var myId = isLoggedIn.value;
        if (userId !== myId) {
          if (confirm('팔로잉하시겠습니까?')) event.preventDefault(); {
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
              if (xhr.status === 200) {
                location.reload(); 
              } else {
                console.error(xhr.responseText);
              }
            };
            xhr.open('POST', '/users/' + userId + '/follow');
            xhr.send();
          }
        }
      }
    });
}
var el1 = document.querySelector('#userUnfollow');
if(el1) {
  el1.addEventListener('click', function () {
        var isLoggedIn = document.querySelector('#myId');
        if (isLoggedIn) {
          var userId = document.querySelector('#page-user-id').value;
          var myId = isLoggedIn.value;
          if (userId !== myId) {
            if (confirm('언팔로잉하시겠습니까?')) event.preventDefault(); {
              var xhr = new XMLHttpRequest();
              xhr.onload = function () {
                if (xhr.status === 200) {
                  location.reload();
                } else {
                  console.error(xhr.responseText);
                }
              };
              xhr.open('POST', '/users/' + userId + '/unfollow');
              xhr.send();
            }
          }
        }
      });
}

var el1 = document.querySelector('#tagFollow');
if(el1) {
  el1.addEventListener('click', function () {
        var tag = document.querySelector('#tag-title').value;
            if (confirm('태그를 팔로잉하시겠습니까?')) event.preventDefault(); {
              var xhr = new XMLHttpRequest();
              xhr.onload = function () {
                if (xhr.status === 200) {
                  location.reload();
                } else {
                  console.error(xhr.responseText);
                }
              };
              xhr.open('POST', '/tag/' + tag + '/follow');
              xhr.send();
          }
      });
}

var el1 = document.querySelector('#tagUnFollow');
if(el1) {
  el1.addEventListener('click', function () {
        var tag = document.querySelector('#tag-title').value;
            if (confirm('태그를 언팔로잉하시겠습니까?')) event.preventDefault(); {
              var xhr = new XMLHttpRequest();
              xhr.onload = function () {
                if (xhr.status === 200) {
                  location.reload();
                } else {
                  console.error(xhr.responseText);
                }
              };
              xhr.open('POST', '/tag/' + tag + '/unfollow');
              xhr.send();
          }
      });
}
</script>

</body>
</html>