<!-- Fixed navbar -->
<div class="ui massive secondary menu" id="nevbar">
        <% if(user && user.id) {%>
        <a class="item" id="logo" href="/"><img src="../images/logo.png" id="logo_img"></a>
        <% } else {%>
        <% req.logOut(); %>
        <% req.session.destroy(); %>
        <a class="item" id="logo" href="/"><img src="../images/logo.png" id="logo_img"></a>
        <% } %>
            <div class="ui search" style="margin-top:5px;">
                <div class="ui small left icon input">
                  <input class="prompt" type="text" placeholder="Search" style="border-radius:5px;">
                  <i class="search icon"></i>
                </div>
                <div class="results elements"></div>
              </div>
        <a class="item" href="/">Recents</a>
        <a class="item" href="/follow">Follow</a>
        
        <div class="ui dropdown item">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Applications</div>
              <div class="item">Hardwares</div>
              <div class="item">Scholarships</div>
            </div>
        </div>
        <div class="right menu">
              
        </div>
              <div class="massive ui dropdown item" style='width:200px;height:50px;padding:0px; !important'>
              <% if(user.img){ %>
              <img src="<%= user.img %>" style="margin-right : 10px; height:50px; width:50px; !important">
              <% } else {%>
              <img src="<%= gravatar %>" style="margin-right : 10px; height:50px; width:50px; !important">
              <% } %>
              <%= user.username %> <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="/users/<%= user.username %>">profile</a>
                <a class="item" href="/process/logout">logout</a>
              </div>
            </div>
        </div>
</div>
<div class="ui divider" style="margin:5px 0 10px; 0;"></div>
<!-- Fixed navbar -->