<!-- Fixed navbar -->
<div class="ui massive secondary menu">
        <a class="item" id="logo" href="/"><img src="../images/viewport.ico" id="logo_img"></a>
        <div class="ui search" style="margin-top:5px;">
                <div class="ui small left icon input">
                  <input class="prompt" type="text" placeholder="Search" style="border-radius:5px;">
                  <i class="search icon"></i>
                </div>
                <div class="results elements"></div>
              </div>
        <div class="ui dropdown item">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Applications</div>
              <div class="item">Hardwares</div>
              <div class="item">Scholarships</div>
            </div>
        </div>
        <div class="right menu">
            <button class="ui inverted black button" onclick="location.href='/signup'">SignUp</button>
        </div>
      </div>
<div class="ui divider" style="margin:5px 0 10px; 0;"></div>
<!-- Fixed navbar -->