<!-- Fixed navbar -->
<div class="ui secondary menu">
        <a class="item" id="logo" href="/"><img src="../images/logo.png" id="logo_img"></a>
        <div class="item" id="search_bar_contain">
            <div class="ui big icon input" id="search_bar">
              <input type="text" placeholder="Search...">
              <i class="search icon"></i>
            </div>
        </div>
        <div class="ui dropdown item">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Applications</div>
              <div class="item">International Students</div>
              <div class="item">Scholarships</div>
            </div>
        </div>
        <div class="right menu">
            <button class="ui inverted black button" onclick="location.href='/signup'">SignUp</button>
        </div>
      </div>

<!-- Fixed navbar -->