<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"> </script>
    <!-- Three.js -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.106.2/build/three.min.js"></script>
    <!-- Library for controlling the camera -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.106.2/examples/js/controls/OrbitControls.js"></script>
    <!-- library to handle glTF -->
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
    <header>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </header>
    <main>
      <div class="webViewer">
        <div class="viewer">
          <div class="infor">
            <input id="timeSlider" value="" step="0.01" type="range" oninput="startAt(this.value)"/>
              <div class="processor">
              <button class="compact ui icon button" id="anime_button" value="pause">
                  <i class="pause circle icon"></i>
                </button>
                <span class="process"> 
                  <p id="processNow"></p>
                </span>
                  <span class="ShowControl">
                    <span class="ui icon bottom dropdown">
                        <i class="cog icon"></i>
                          <div class="menu" id="menuCog">
                                  <span class="item ui checkbox" id="showSkeleton">
                                    <label>SHOW Skeleton</label>
                                    <input type="checkbox">
                                  </span>
                                  <span class="item ui checkbox" id="showGrid">
                                    <label>SHOW Grid</label>
                                    <input type="checkbox">
                                  </span>
                                  <span class="item ui checkbox" id="showBackground">
                                    <label>SHOW Background image</label>
                                    <input type="checkbox">
                                  </span>
                          </div>
                        </span>
                        <span class="compact ui icon" id="full_screen">
                            <i class="expand circle icon"></i>
                        </span>
                  </span>
                </div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="stage" id="stage" style="display:inline;">
          <h2 class="ui header" style="display:inline;">
            <i class="film icon"></i>
            <div class="content" id="animeName">
      
            </div>
          </h2>
          <div class="progress">
              <div class="modifyTimeScale" style="margin-top: 10px;">
                <label style="margin-right:5px;">modify Time Scale (0~x2)</label>
                <input id="TimeScaleInputId" type="range" min="0" max="2" value="1" step="0.01" oninput="modifyTimeScale(this.value);TimeScaleOutputId.value = TimeScaleInputId.value;">
                <output id="TimeScaleOutputId" style="margin-left:5px;">1</output>
              </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <aside>

    </aside>
    <script> const model = `<%=model%>`;</script>
    <script src="/javascripts/index.js"> </script>
    <script>
    //jquery for webviewer 
      $('.dropdown')
      .dropdown({
        direction: 'upward',
        transition: 'fade up',
        on: 'click',
      })
    ;
  $('#showSkeleton')
  .checkbox()
  .first().checkbox({
    onChecked: function() {
      showSkeleton();
    },
    onUnchecked: function() {
      nonShowSkeleton();
    }
  });
  $('#showGrid')
  .checkbox()
  .first().checkbox({
    onChecked: function() {
      showGrid();
    },
    onUnchecked: function() {
      nonShowGrid();
    }
  });
  $('#showBackground')
  .checkbox()
  .first().checkbox({
    onChecked: function() {
      showbg();
    },
    onUnchecked: function() {
      nonshowbg();
    }
  });
  $('.viewer').hover(function(){
    $('.infor').css( "visibility","visible");
    $('.stats').css( "visibility","visible");
  },
  function(){
    $('.infor').css("visibility","hidden");
    $('.stats').css("visibility","hidden");
  });
    </script>
  </body>
</html>
