body {
  padding: 10px;
  font-family: AppleLiGothicMedium;
  font: 14px,Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  padding : 0px;
  margin-right: 20px;
}
#logo_img {
  width: 200px;
  height: 50px;
}
.ui.search{ 
  width: 40%; 
}

.ui.left.icon.input{ 
  width: 100%; 
}


.Commentmenu {
  visibility: hidden;
  float: right;
}

.ui.link.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.ui.dropdown .menu {
  z-index: 999999 !important;
}

#nevbar {
  background-color: white;
}